---
permalink: /credits/index.html
eleventyExcludeFromCollections: true
---
<meta http-equiv="refresh" content="0;url=/about/" />
<script>window.location.href = "/about/";</script>
<p>Redirecting to <a href="/about/">About page</a>...</p>
